.fixation-moving {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
}
.fixation-moving__select-container {
    display: flex;
    margin: 0 0 0 auto;
}
.fixation-moving__item-container {
    display: flex;
    margin: 0 27px 0 0;
    cursor: pointer;
    opacity: .6;
}
.fixation-moving__item-container:last-of-type {
    margin: 0;
}
.fixation-moving__item-container_active {
    opacity: 1;
    cursor: default;
}
.fixation-moving__item-icon {
    background-image: url('../../images/list-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: 0 5px 0 0;
}
.fixation-moving__item-icon_list {
    background-image: url('../../images/list-icon.svg');
}
.fixation-moving__item-icon_map {
    background-image: url('../../images/map-icon.svg');
}
.fixation-moving__item-text {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: auto 0;
}
.fixation-moving__list-container {
    display: flex;
    margin: 20px 0 0;
}
.fixation-moving__steps-container {
    display: flex;
    margin: 0 auto 0 0;
}
.fixation-moving__steps-numbers-container {
    display: flex;
    flex-direction: column;
    margin: 0 26px auto 0;
}
.fixation-moving__step-container {
    display: flex;
    background: #333333;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 0 0 auto;
}
.fixation-moving__step-value {
    margin: auto;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}
.fixation-moving__step-check-icon {
    background-image: url('../../images/check-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto;
}
.fixation-moving__step-line {
    width: 2px;
    height: 55px;
    background: #333333;
    margin: 0 auto;
}
.fixation-moving__steps-info-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.fixation-moving__step-info-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}
.fixation-moving__step-info-container:first-of-type {
    margin: 0;
}
.fixation-moving__steps-info-status {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0 auto 0 0;
}
.fixation-moving__steps-info-description {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 16px auto 0 0;
    width: 391px;
}
.fixation-moving__info-container {
    padding: 32px;
    margin: 0 0 auto auto;
    background: #EEF0F1;
    display: flex;
    flex-direction: column;
}
.fixation-moving__info-heading {
    font-size: 16px;
    line-height: 24px;
    color: #336699;
    margin: 0 auto 0 0;
}
.fixation-moving__info-rows-container {
    display: flex;
    margin: 16px 0 0;
}
.fixation-moving__info-rows-container:first-of-type {
    margin: 24px 0 0;
}
.fixation-moving__info-row-heading {
    width: 223px;
    margin: 0 24px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.fixation-moving__info-row-text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0 auto 0 0;
    max-width: 224px;
}
.fixation-moving__map-container {
    width: 100%;
    height: 641px;
    margin: 20px 0 auto;
}
@media screen and (max-width: 1400px) {
    .fixation-moving__steps-info-description {
        width: 330px;
    }
}
@media screen and (max-width: 1350px) {
    .fixation-moving__steps-numbers-container {
        margin: 0 16px auto 0;
    }
    .fixation-moving__step-container {
        width: 30px;
        height: 30px;
    }
    .fixation-moving__step-value {
        font-size: 18px;
        line-height: 20px;
    }
    .fixation-moving__step-check-icon {
        width: 18px;
        height: 18px;
    }
    .fixation-moving__step-info-container {
        margin: 39px 0 0 0;
    }
    .fixation-moving__steps-info-status {
        font-size: 14px;
        line-height: 18px;
    }
    .fixation-moving__steps-info-description {
        font-size: 12px;
        line-height: 16px;
        margin: 12px auto 0 0;
        width: 280px;
    }
}
@media screen and (max-width: 1270px) {
    .fixation-moving__steps-numbers-container {
        margin: 0 14px auto 0;
    }
    .fixation-moving__step-container {
        width: 25px;
        height: 25px;
    }
    .fixation-moving__step-value {
        font-size: 16px;
        line-height: 18px;
    }
    .fixation-moving__step-check-icon {
        width: 16px;
        height: 16px;
    }
    .fixation-moving__step-info-container {
        margin: 30px 0 0 0;
    }
    .fixation-moving__steps-info-status {
        font-size: 12px;
        line-height: 16px;
    }
    .fixation-moving__steps-info-description {
        font-size: 10px;
        line-height: 14px;
        margin: 10px auto 0 0;
        width: 250px;
    }
    .fixation-moving__step-line {
        height: 46px;
    }
    .fixation-moving__info-container {
        padding: 20px;
    }
    .fixation-moving__info-heading {
        font-size: 14px;
        line-height: 22px;
    }
    .fixation-moving__info-rows-container {
        margin: 14px 0 0;
    }
    .fixation-moving__info-rows-container:first-of-type {
        margin: 18px 0 0;
    }
    .fixation-moving__info-row-heading {
        width: 200px;
        margin: 0 22px 0 0;
        font-size: 12px;
        line-height: 18px;
    }
    .fixation-moving__info-row-text {
        font-size: 12px;
        line-height: 18px;
        max-width: 200px;
    }
    .fixation-moving__map-container {
        height: 600px;
    }
}
@media screen and (max-width: 1150px) {
    .fixation-moving__info-container {
        padding: 18px;
    }
    .fixation-moving__info-row-heading {
        width: 160px;
    }
    .fixation-moving__map-container {
        height: 500px;
    }
}
@media screen and (max-width: 1105px) {
    .fixation-moving__steps-numbers-container {
        margin: 0 12px auto 0;
    }
    .fixation-moving__step-container {
        width: 23px;
        height: 23px;
    }
    .fixation-moving__step-value {
        font-size: 12px;
        line-height: 14px;
    }
    .fixation-moving__step-check-icon {
        width: 12px;
        height: 12px;
    }
    .fixation-moving__step-info-container {
        margin: 22px 0 0 0;
    }
    .fixation-moving__steps-info-status {
        line-height: 14px;
    }
    .fixation-moving__steps-info-description {
        margin: 8px auto 0 0;
        width: 230px;
    }
    .fixation-moving__step-line {
        height: 35px;
    }
    .fixation-moving__info-container {
        padding: 15px;
    }
    .fixation-moving__info-heading {
        font-size: 12px;
        line-height: 18px;
    }
    .fixation-moving__info-rows-container {
        margin: 12px 0 0;
    }
    .fixation-moving__info-rows-container:first-of-type {
        margin: 14px 0 0;
    }
    .fixation-moving__info-row-heading {
        width: 140px;
        margin: 0 16px 0 0;
        font-size: 10px;
        line-height: 16px;
    }
    .fixation-moving__info-row-text {
        font-size: 10px;
        line-height: 16px;
        max-width: 160px;
    }
    .fixation-moving__map-container {
        height: 400px;
    }
}