.fixation {
    padding: 32px 32px 32px 296px;
    background: #EEF0F1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}
.fixation__heading-container {
    display: flex;
    margin: 0;
}
.fixation__heading {
    margin: auto auto auto 0;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}
.fixation__main-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    margin: 24px 0 auto;
    padding: 32px;
}
.fixation__nav-container {
    display: flex;
    border-bottom: 2px solid #EBEBEB;
    height: 29px;
    margin: 0 auto 0 0;
}
.fixation__nav-text {
    margin: 0 24px 0 0;
    cursor: pointer;
}
.fixation__nav-text:last-of-type {
    margin: 0;
}
.fixation__nav-text_active {
    color: #333333;
    border-bottom: 2px solid #336699;
    cursor: default;
}
.fixation__qr-code-container {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 0;
}
.fixation__qr-code {
    width: 343px;
    height: 343px;
    object-fit: contain;
    margin: 0 auto 0 0;
}
.fixation__qr-code-button-print {
    width: 290px;
    height: 46px;
    background: #336699;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 24px auto 0;
}
@media screen and (max-width: 1020px) {
    .fixation {
        padding: 24px 0 0 0;
    }
    .fixation__heading-container {
        display: none;
    }
    .fixation__main-container {
        width: 696px;
        margin: 0 auto 24px;
        padding: 24px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 740px) {
    .fixation {
        padding: 0 0 32px;
        font-size: 14px;
        line-height: 16px;
    }
    .fixation__main-container {
        width: 375px;
        margin: 0 auto;
        padding: 24px 16px;
    }
    .fixation__nav-container {
        height: 22px;
    }
    .fixation__nav-text {
        margin: 0 20px 0 0;
    }
    .fixation__qr-code-container {
        margin: 16px auto 0 0;
    }
    .fixation__qr-code {
        margin: 0 auto;
    }
    .fixation__qr-code-button-print {
        width: 343px;
        margin: 24px auto 0;
    }
}