.fixation {
    padding: 32px 32px 32px 296px;
    background: #EEF0F1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}
.fixation__heading-container {
    display: flex;
    margin: 0;
}
.fixation__heading {
    margin: auto auto auto 0;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}
.fixation__bottom-container {
    display: none;
}
.fixation__scan-button {
    margin: 0 0 0 auto;
    width: 181px;
    height: 46px;
    background: #336699;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.fixation__main-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    margin: 24px 0 auto;
    padding: 32px;
}
.fixation__nav-container {
    display: flex;
    border-bottom: 2px solid #EBEBEB;
    height: 29px;
    margin: 0 auto 0 0;
}
.fixation__nav-text {
    margin: 0 24px 0 0;
    cursor: pointer;
}
.fixation__nav-text:last-of-type {
    margin: 0;
}
.fixation__nav-text_active {
    color: #333333;
    border-bottom: 2px solid #336699;
    cursor: default;
}
@media screen and (max-width: 1020px) {
    .fixation {
        padding: 24px 0 0 0;
    }
    .fixation__heading-container {
        display: none;
    }
    .fixation__bottom-container {
        display: flex;
        width: 696px;
        margin: 0 auto;
    }
    .fixation__scan-button {
        margin: 0 auto 0 0;
        width: 198px;
        height: 48px;
    }
    .fixation__main-container {
        width: 696px;
        margin: 0 auto 24px;
        padding: 24px;
        box-sizing: border-box;
    }
}