.users {
    padding: 32px 32px 32px 296px;
    background: #EEF0F1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}
.users__heading {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 0 auto 0 0;
}
.users__add-user-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    margin: 24px 0 0;
}
.users__add-user-heading {
    color: #333333;
    margin: 32px auto 0 32px;
}
.users__add-user-inputs-main-container {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 32px;
}
.users__add-user-inputs-container {
    display: flex;
}
.users__add-user-inputs-container:last-of-type {
    margin-top: 24px;
}
.users__add-user-input-container {
    display: flex;
    flex-direction: column;
    margin: 0 24px 0 0;
}
.users__add-user-input-container:last-of-type {
    margin-right: 0;
}
.users__add-user-input-label {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    opacity: 0.9;
    margin: 0 auto 0 0;
}
.users__add-user-input {
    width: 300px;
    height: 46px;
    margin: 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 16px;
}
.users__add-user-role-container {
    display: flex;
    position: relative;
    width: 300px;
    height: 46px;
    margin: 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
.users__add-user-role-text {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    opacity: 0.9;
    margin: auto auto auto 16px;
}
.users__add-user-role-arrow-icon {
    background-image: url('../../images/arrow-drop-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 10px auto auto;
}
.users__add-user-role-options-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(177, 184, 197, 0.14), 0px 3px 3px rgba(177, 184, 197, 0.12), 0px 1px 8px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    z-index: 1;
    cursor: default;
}
.users__add-user-role-options-container_active {
    display: flex;
}
.users__add-user-role-option-container {
    display: flex;
    height: 46px;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
}
.users__add-user-role-option-container:hover {
    background: #ECEDF3;
}
.users__add-user-role-option {
    margin: auto auto auto 16px;
}
.users__user-add-button {
    width: 122px;
    height: 46px;
    border: none;
    background: #336699;
    border-radius: 4px;
    margin: 32px auto 32px 32px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
.users__table-container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    margin: 59px 0 0;
}
.users__table-heading {
    color: #333333;
    margin: 32px auto 0 32px;
}
.users__table {
    display: flex;
    flex-direction: column;
    margin: 32px;
    border: 1px solid #DFDEDE;
    box-sizing: border-box;
    border-radius: 4px;
}
.users__table-rows {
    display: flex;
    height: 52px;
    border-bottom: 1px solid #DFDEDE;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #333333;
}
.users__table-rows_heading {
    font-weight: 500;
}
.users__table-last-name {
    min-width: 137px;
    margin: auto 32px;
}
.users__table-first-name {
    min-width: 137px;
    margin: auto 32px auto 0;
}
.users__table-middle-name {
    min-width: 137px;
    margin: auto 32px auto 0;
}
.users__table-login {
    min-width: 137px;
    margin: auto 32px auto 0;
}
.users__table-password {
    min-width: 137px;
    margin: auto 32px auto 0;
}
.users__table-role {
    min-width: 137px;
    margin: auto auto auto 0;
}
.users__no-results-text {
    margin: auto;
}
@media screen and (max-width: 1415px) {
    .users__table-rows {
        font-size: 12px;
        line-height: 18px;
    }
    .users__table-last-name {
        min-width: 125px;
    }
    .users__table-first-name {
        min-width: 125px;
    }
    .users__table-middle-name {
        min-width: 125px;
    }
    .users__table-login {
        min-width: 125px;
    }
    .users__table-password {
        min-width: 125px;
    }
    .users__table-role {
        min-width: 125px;
    }
}
@media screen and (max-width: 1345px) {
    .users__add-user-heading {
        margin: 24px auto 0 24px;
    }
    .users__add-user-inputs-main-container {
        flex-direction: row;
        margin: 32px auto 0 24px;
    }
    .users__add-user-inputs-container {
        flex-direction: column;
        margin: 0 48px 0 0;
    }
    .users__add-user-inputs-container:last-of-type {
        margin: 0;
    }
    .users__add-user-input-container {
        margin: 16px 0 0 0;
        
    }
    .users__add-user-input-container:first-of-type {
        margin: 0;
    }
    .users__user-add-button {
        margin: 32px auto 24px 24px;
    }
    .users__table-last-name {
        margin: auto 24px;
    }
    .users__table-first-name {
        margin: auto 24px auto 0;
    }
    .users__table-middle-name {
        margin: auto 24px auto 0;
    }
    .users__table-login {
        margin: auto 24px auto 0;
    }
    .users__table-password {
        margin: auto 24px auto 0;
    }
    .users__add-user-role-option-container {
        height: 43px;
    }
}
@media screen and (max-width: 1295px) {
    .users__table-last-name {
        min-width: 115px;
    }
    .users__table-first-name {
        min-width: 115px;
    }
    .users__table-middle-name {
        min-width: 115px;
    }
    .users__table-login {
        min-width: 115px;
    }
    .users__table-password {
        min-width: 115px;
    }
    .users__table-role {
        min-width: 115px;
    }
}
@media screen and (max-width: 1240px) {
    .users__table-container {
        margin: 32px 0 0;
    }
    .users__table-last-name {
        min-width: 100px;
    }
    .users__table-first-name {
        min-width: 100px;
    }
    .users__table-middle-name {
        min-width: 100px;
    }
    .users__table-login {
        min-width: 100px;
    }
    .users__table-password {
        min-width: 100px;
    }
    .users__table-role {
        min-width: 100px;
    }
}
@media screen and (max-width: 1145px) {
    .users__table-container {
        margin: 24px 0 0;
    }
    .users__table-last-name {
        min-width: 77px;
    }
    .users__table-first-name {
        min-width: 68px;
    }
    .users__table-middle-name {
        min-width: 72px;
    }
    .users__table-login {
        min-width: 77px;
    }
    .users__table-password {
        min-width: 94px;
    }
    .users__table-role {
        min-width: 92px;
    }
}
@media screen and (max-width: 1020px) {
    .users {
        padding: 24px 0;
    }
    .users__heading {
        display: none;
    }
    .users__add-user-container {
        width: 696px;
        margin: 0 auto;
        box-shadow: 0px 2px 2px rgba(145, 153, 168, 0.14), 0px 3px 1px rgba(145, 153, 168, 0.12), 0px 1px 5px rgba(145, 153, 168, 0.2);
    }
    .users__table-container {
        margin: 24px auto 0;
        width: 696px;
        box-shadow: 0px 2px 2px rgba(145, 153, 168, 0.14), 0px 3px 1px rgba(145, 153, 168, 0.12), 0px 1px 5px rgba(145, 153, 168, 0.2);
    }
    .users__table-heading {
        margin: 24px auto 0 24px;
    }
    .users__table {
        margin: 32px 24px 24px;
    }
}