.users {
    padding: 32px 32px 32px 296px;
    background: #EEF0F1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}
.users__heading {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 0 auto 0 0;
}
.users__container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    padding: 32px;
}
.users__tabs-container {
    display: flex;
    border-bottom: 2px solid #EBEBEB;
    height: 29px;
    margin: 0 auto 0 0;
}
.users__tab {
    margin: 0 24px 0 0;
    cursor: pointer;
}
.users__tab:last-of-type {
    margin-right: 0;
}
.users__tab_active {
    color: #333333;
    border-bottom: 2px solid #336699;
}
.users__add-user-container {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
}
.users__add-user-inputs-main-container {
    display: flex;
}
.users__add-user-inputs-container {
    display: flex;
    flex-direction: column;
}
.users__add-user-input-container {
    display: flex;
    flex-direction: column;
    margin: 6px 24px 0 0;
}
.users__add-user-input-container:first-of-type {
    margin-top: 0;
}
.users__add-user-input-label {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    opacity: 0.9;
    margin: 0 auto 0 0;
}
.users__add-user-input {
    width: 300px;
    height: 46px;
    margin: 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 16px;
}
.users__add-user-input_error-span {
    max-width: 300px;
    height: 18px;
    color: #EB5757;
    font-size: 8px;
    line-height: 10px;
    margin: 2px auto 0 0;
}
.users__add-user-role-container {
    display: flex;
    position: relative;
    width: 300px;
    height: 46px;
    margin: 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}
.users__add-user-role-text {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    opacity: 0.9;
    margin: auto auto auto 16px;
}
.users__add-user-role-arrow-icon {
    background-image: url('../../images/arrow-drop-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 10px auto auto;
}
.users__add-user-role-options-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(177, 184, 197, 0.14), 0px 3px 3px rgba(177, 184, 197, 0.12), 0px 1px 8px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    z-index: 1;
    cursor: default;
}
.users__add-user-role-options-container_active {
    display: flex;
}
.users__add-user-role-option-container {
    display: flex;
    height: 46px;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
}
.users__add-user-role-option-container:hover {
    background: #ECEDF3;
}

.users__add-user-role-option {
    margin: auto auto auto 16px;
}
.users__user-add-button-error {
    margin: 10px auto 0 0;
    height: 22px;
    font-size: 14px;
    line-height: 16px;
    color: #EB5757;
    max-width: 300px;
}
.users__user-add-button {
    width: 122px;
    height: 46px;
    border: none;
    background: #336699;
    border-radius: 4px;
    margin: 8px auto 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
@media screen and (max-width: 1345px) {
    .users__add-user-inputs-container {
        flex-direction: column;
        margin: 0 48px 0 0;
    }
    .users__add-user-input-container {
        margin: 4px 0 0;
    }
    .users__add-user-role-option-container {
        height: 43px;
    }
}
@media screen and (max-width: 1040px) {
    .users__container {
        padding: 23px;
    }
}
@media screen and (max-width: 1020px) {
    .users {
        padding: 24px 0 0;
    }
    .users__heading {
        display: none;
    }
    .users__container {
        margin: 0 auto;
        padding: 24px;
        width: 696px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 740px) {
    .users {
        padding: 0;
    }
    .users__container {
        width: 375px;
        padding: 24px 16px 32px;
        margin: 0 auto;
    }
    .users__add-user-container {
        margin: 24px auto 0 0;
    }
    .users__add-user-inputs-main-container {
        flex-direction: column;
    }
    .users__add-user-inputs-container {
        margin: 0 auto 0 0;
    }
    .users__add-user-inputs-container:last-of-type {
        margin: 16px auto 0 0;
    }
    .users__add-user-input {
        width: 343px;
    }
    .users__add-user-input_error-span {
        max-width: 343px;
    }
    .users__add-user-role-container {
        width: 343px;
    }
    .users__add-user-role-options-container {
        top: 55px;
        left: -1px;
        width: 343px;
    }
    .users__user-add-button-error {
        max-width: 343px;
        margin: 20px auto 0 0;
    }
    .users__user-add-button {
        width: 343px;
        margin: 10px auto 0;
        font-size: 15px;
        line-height: 16px;
    }
}