.fixation-documents {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 0;
    border: 1px solid #DFDEDE;
    box-sizing: border-box;
    border-radius: 4px;
}
.fixation-documents__rows {
    display: flex;
    height: 52px;
    border-bottom: 1px solid #DFDEDE;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #333333;
}
.fixation-documents__rows_heading {
    font-weight: 500;
}
.fixation-documents__document {
    min-width: 200px;
    margin: auto 32px;
}
.fixation-documents__date {
    min-width: 150px;
    margin: auto 32px auto 0;
}
.fixation-documents__shipper {
    min-width: 150px;
    margin: auto 32px auto 0;
}
.fixation-documents__consignee {
    min-width: 150px;
    margin: auto 32px auto 0;
}
.fixation-documents__cargoCode {
    min-width: 84px;
    margin: auto 32px auto 0;
}
.fixation-documents__price {
    min-width: 121px;
    margin: auto auto auto 0;
}
.fixation-documents__no-results-text {
    margin: auto;
}