.box-registration {
    padding: 32px 32px 32px 296px;
    background: #EEF0F1;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}
.box-registration__heading {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 0 auto 0 0;
}
.box-registration__heading-mobile-container {
    display: none;
    margin: 0 auto 0 0;
}
.box-registration__heading-mobile {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 0 auto 0 0;
}
.box-registration__form {
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 24px auto 0;
}
.box-registration__form-nav-container {
    display: flex;
    border-bottom: 2px solid #EBEBEB;
    height: 29px;
    margin: 0 auto 0 0;
}
.box-registration__form-nav-text {
    margin: 0 24px 0 0;
    cursor: pointer;
}
.box-registration__form-nav-text_active {
    color: #333333;
    border-bottom: 2px solid #336699;
    cursor: default;
}
.box-registration__form-nav-text:last-of-type {
    margin-right: 0;
}
.box-registration__buttons-container {
    margin: 32px auto 0 0;
    display: flex;
}
.box-registration__button-prev {
    width: 95px;
    height: 46px;
    margin: 0 16px 0 0;
    background: #FFFFFF;
    border: 1px solid #336699;
    box-sizing: border-box;
    border-radius: 4px;
    color: #336699;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}
.box-registration__button-next {
    width: 95px;
    height: 46px;
    background: #336699;
    border-radius: 4px; 
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
}
.box-registration__button-register {
    width: 187px;
    height: 46px;
    background: #336699;
    border-radius: 4px; 
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
}
@media screen and (max-width: 1020px) {
    .box-registration {
        padding: 24px 0 0 0;
    }
    .box-registration__heading {
        display: none;
    }
    .box-registration__form {
        width: 696px;
        padding: 24px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 740px) {
    .box-registration {
        padding: 0;
    }
    .box-registration__form-nav-container {
        display: none;
    }
    .box-registration__form {
        width: 375px;
        padding: 24px 16px 32px;
    }
    .box-registration__button-next {
        width: 230px;
    }
    .box-registration__button-next_big {
        width: 343px;
    }
    .box-registration__button-register {
        width: 230px;
    }
    .box-registration__heading-mobile-container {
        display: flex;
    }
}