.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 233px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 6px 16px rgba(54, 58, 72, 0.07);
}
.card__picture {
    min-width: 100%;
    height: 116px;
    object-fit: cover;
}
.card__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #333333;
    margin: 8px auto 0 16px;
    max-width: 212px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #666666;
    margin: 8px auto 0 16px;
}
.card__text_span {
    color: #2F8583;
}
.card__buttons-container {
    display: flex;
    margin: 8px 16px 10px 8px;
}
.card__button-show {
    width: 90px;
    height: 38px;
    margin: auto auto auto 0;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    opacity: 0.9;
    cursor: pointer;
}
.card__button-show:hover {
    background: #F7F9FB;
    color: #336699;
}
.card__button-checkbox {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: auto 0 auto auto;
}
.card__remove-container {
    display: flex;
    margin: 16px auto auto 14px;
    cursor: pointer;
}
.card__remove-icon {
    background-image: url('../../images/remove-button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 8px auto 0;
}
.card__remove-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    opacity: 0.9;
    margin: auto auto auto 0;
}
@media screen and (max-width: 1168px) {
    .card {
        width: 295px;
    }
}
@media screen and (max-width: 1022px) {
    .card {
        width: 294px;
    }
}
@media screen and (max-width: 740px) {
    .card {
        width: 319px;
    }
}