.tracking-table {
    display: flex;
    flex-direction: column;
}
.tracking-table__under-table-container {
    display: flex;
    margin: 32px 0 0;
}
.tracking-table__search-container {
    display: flex;
    margin: 0 auto 0 0;
    position: relative;
}
.tracking-table__search-icon {
    position: absolute;
    left: 16px;
    top: 12px;
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.tracking-table__search-input {
    width: 300px;
    height: 46px;
    margin: 0 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding: 0 16px 0 50px;
}
.tracking-table__search-input::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    opacity: 0.9;
}
.tracking-table__search-button {
    width: 95px;
    height: 46px;
    border: none;
    background: #336699;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
.tracking-table__img-sort-icon {
    background-image: url('../../images/view-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: auto 18px auto auto;
    cursor: pointer;
}
.tracking-table__img-sort-icon_active {
    background-image: url('../../images/view-img-active.svg');
}
.tracking-table__list-sort-icon {
    background-image: url('../../images/view-list.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: auto 0;
    cursor: pointer;
}
.tracking-table__list-sort-icon_active {
    background-image: url('../../images/view-list-active.svg');
}
.tracking-table__container {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 16px 0 0;
}
.tracking-table__rows {
    display: flex;
    height: 52px;
    box-sizing: border-box;
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #333333;
}
.tracking-table__rows_heading {
    font-weight: 500;
}
.tracking-table__name {
    min-width: 203px;
    margin: auto 32px;
}
.tracking-table__route {
    min-width: 170px;
    margin: auto 32px auto 0;
}
.tracking-table__weight {
    min-width: 50px;
    margin: auto 32px auto 0;
}
.tracking-table__dimensions {
    min-width: 82px;
    margin: auto 32px auto 0;
}
.tracking-table__departure {
    min-width: 127px;
    margin: auto 32px auto 0;
}
.tracking-table__arrival {
    min-width: 103px;
    margin: auto 32px auto 0;
}
.tracking-table__status {
    min-width: 62px;
    margin: auto auto auto 0;
}
.tracking-table__status_green {
    color: #0FB971;
}
.tracking-table__status_red {
    color: #E84747;
}
.tracking-table__no-results-text {
    margin: auto;
}
@media screen and (max-width: 1430px) {
    .tracking-table__rows {
        font-size: 12px;
        line-height: 18px;
    }
    .tracking-table__name {
        min-width: 150px;
    }
}
@media screen and (max-width: 1370px) {
    .tracking-table__name {
        max-width: 100px;
        margin: auto 25px;
    }
    .tracking-table__route {
        min-width: 160px;
        margin: auto 25px auto 0;
    }
    .tracking-table__weight {
        min-width: 45px;
        margin: auto 25px auto 0;
    }
    .tracking-table__dimensions {
        min-width: 80px;
        margin: auto 25px auto 0;
    }
    .tracking-table__departure {
        min-width: 120px;
        margin: auto 25px auto 0;
    }
    .tracking-table__arrival {
        min-width: 95px;
        margin: auto 25px auto 0;
    }
    .tracking-table__status {
        min-width: 55px;
    }
}
@media screen and (max-width: 1285px) {
    .tracking-table__rows {
        font-size: 10px;
        line-height: 16px;
    }
    .tracking-table__name {
        max-width: 100px;
        margin: auto 30px;
    }
    .tracking-table__route {
        min-width: 125px;
        margin: auto 30px auto 0;
    }
    .tracking-table__weight {
        min-width: 40px;
        margin: auto 30px auto 0;
    }
    .tracking-table__dimensions {
        min-width: 70px;
        margin: auto 30px auto 0;
    }
    .tracking-table__departure {
        min-width: 95px;
        margin: auto 30px auto 0;
    }
    .tracking-table__arrival {
        min-width: 75px;
        margin: auto 30px auto 0;
    }
    .tracking-table__status {
        min-width: 50px;
    }
}
@media screen and (max-width: 1215px) {
    .tracking-table__name {
        min-width: 80px;
        max-width: 80px;
        margin: auto 25px;
    }
    .tracking-table__route {
        min-width: 125px;
        margin: auto 25px auto 0;
    }
    .tracking-table__weight {
        min-width: 40px;
        margin: auto 25px auto 0;
    }
    .tracking-table__dimensions {
        min-width: 70px;
        margin: auto 25px auto 0;
    }
    .tracking-table__departure {
        min-width: 95px;
        margin: auto 25px auto 0;
    }
    .tracking-table__arrival {
        min-width: 75px;
        margin: auto 25px auto 0;
    }
}
@media screen and (max-width: 1115px) {
    .tracking-table__name {
        min-width: 60px;
        max-width: 60px;
        margin: auto 20px;
    }
    .tracking-table__route {
        min-width: 125px;
        margin: auto 15px auto 0;
    }
    .tracking-table__weight {
        min-width: 40px;
        margin: auto 15px auto 0;
    }
    .tracking-table__dimensions {
        min-width: 70px;
        margin: auto 15px auto 0;
    }
    .tracking-table__departure {
        min-width: 95px;
        margin: auto 15px auto 0;
    }
    .tracking-table__arrival {
        min-width: 75px;
        margin: auto 15px auto 0;
    }
}
@media screen and (max-width: 1020px) {
    
}