.tracking-table {
    display: flex;
    flex-direction: column;
}
.tracking-table__under-table-container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0;
}
.tracking-table__search-container {
    display: flex;
    margin: 0 auto 0 0;
    position: relative;
}
.tracking-table__results {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #666666;
    margin: 26px auto 0 0;
}
.tracking-table__search-icon {
    position: absolute;
    left: 16px;
    top: 12px;
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.tracking-table__search-input {
    width: 300px;
    height: 46px;
    margin: 0 8px 0 0;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding: 0 16px 0 50px;
}
.tracking-table__search-input::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    opacity: 0.9;
}
.tracking-table__container {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 10px 0 0;
}
.tracking-table__rows {
    display: flex;
    min-height: 52px;
    box-sizing: border-box;
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    color: #333333;
}
.tracking-table__rows_boxes {
    cursor: pointer;
}
.tracking-table__rows_boxes:hover {
    background: #ECEDF3;
}
.tracking-table__rows_heading {
    font-weight: 500;
}
.tracking-table__picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto 16px auto 32px;
}
.tracking-table__name {
    min-width: 200px;
    max-width: 200px;
    margin: auto 32px;
}
.tracking-table__route {
    min-width: 300px;
    max-width: 300px;
    margin: auto 32px auto 0;
}
.tracking-table__departure {
    min-width: 130px;
    margin: auto 32px auto 0;
}
.tracking-table__arrival {
    min-width: 130px;
    margin: auto 32px auto 0;
}
.tracking-table__status {
    min-width: 100px;
    margin: auto auto auto 0;
}
.tracking-table__status_green {
    color: #0FB971;
}
.tracking-table__status_red {
    color: #E84747;
}
.tracking-table__name_art-object {
    min-width: 300px;
    max-width: 300px;
    margin: auto 32px;
}
.tracking-table__name_exhibits {
    min-width: 252px;
    max-width: 252px;
    margin: auto 32px auto 0;
}
.tracking-table__route_exhibits {
    min-width: 200px;
    max-width: 200px;
    margin: auto 32px auto 0;
}
.tracking-table__departure_exhibits {
    min-width: 130px;
    margin: auto 32px auto 0;
}
.tracking-table__arrival_exhibits {
    min-width: 130px;
    margin: auto 32px auto 0;
}
.tracking-table__no-results-text {
    margin: auto;
}
@media screen and (max-width: 1415px) {
    .tracking-table__route {
        min-width: 250px;
    }
    .tracking-table__name_art-object {
        min-width: 250px;
        max-width: 250px;
        margin: auto 32px;
    }
    .tracking-table__name_exhibits {
        min-width: 202px;
        max-width: 202px;
        margin: auto 32px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 200px;
        max-width: 200px;
        margin: auto 32px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 130px;
        margin: auto 32px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 130px;
        margin: auto 32px auto 0;
    }
}
@media screen and (max-width: 1370px) {
    .tracking-table__route {
        min-width: 200px;
        max-width: 200px;
    }
    .tracking-table__name_art-object {
        min-width: 220px;
        max-width: 220px;
        margin: auto 32px;
    }
    .tracking-table__name_exhibits {
        min-width: 172px;
        max-width: 172px;
        margin: auto 32px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 180px;
        max-width: 180px;
        margin: auto 32px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 130px;
        margin: auto 32px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 130px;
        margin: auto 32px auto 0;
    }
}
@media screen and (max-width: 1315px) {
    .tracking-table__rows {
        font-size: 12px;
        line-height: 14px;
    }
    .tracking-table__name {
        max-width: 180px;
        min-width: 180px;
        margin: auto 16px;
    }
    .tracking-table__route {
        min-width: 180px;
        max-width: 180px;
        margin: auto 16px auto 0;
    }
    .tracking-table__departure {
        min-width: 120px;
        margin: auto 16px auto 0;
    }
    .tracking-table__arrival {
        min-width: 120px;
        margin: auto 16px auto 0;
    }
    .tracking-table__status {
        min-width: 80px;
    }
    .tracking-table__picture {
        margin: auto 16px auto 16px;
    }
    .tracking-table__name_art-object {
        min-width: 173px;
        max-width: 173px;
        margin: auto 16px;
    }
    .tracking-table__name_exhibits {
        min-width: 125px;
        max-width: 125px;
        margin: auto 16px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 133px;
        max-width: 133px;
        margin: auto 16px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
}
@media screen and (max-width: 1180px) {
    .tracking-table__name {
        max-width: 160px;
        min-width: 160px;
        margin: auto 16px;
    }
    .tracking-table__route {
        min-width: 150px;
        max-width: 150px;
        margin: auto 16px auto 0;
    }
    .tracking-table__departure {
        min-width: 115px;
        margin: auto 16px auto 0;
    }
    .tracking-table__arrival {
        min-width: 115px;
        margin: auto 16px auto 0;
    }
    .tracking-table__status {
        min-width: 60px;
    }
    .tracking-table__name_art-object {
        min-width: 173px;
        max-width: 173px;
        margin: auto 16px;
    }
    .tracking-table__name_exhibits {
        min-width: 125px;
        max-width: 125px;
        margin: auto 16px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 133px;
        max-width: 133px;
        margin: auto 16px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
}
@media screen and (max-width: 1125px) {
    .tracking-table__name {
        max-width: 130px;
        min-width: 130px;
    }
    .tracking-table__route {
        max-width: 120px;
        min-width: 120px;
    }
    .tracking-table__name_art-object {
        min-width: 153px;
        max-width: 153px;
        margin: auto 16px;
    }
    .tracking-table__name_exhibits {
        min-width: 105px;
        max-width: 105px;
        margin: auto 16px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 113px;
        max-width: 113px;
        margin: auto 16px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 107px;
        margin: auto 16px auto 0;
    }
}
@media screen and (max-width: 740px) {
    .tracking-table__under-table-container {
        margin: 24px 0 0;
    }
    .tracking-table__search-icon {
        left: 16px;
        top: 11px;
        width: 24px;
        height: 24px;
    }
    .tracking-table__search-input {
        width: 343px;
        height: 48px;
        padding: 0 5px 0 50px;
        font-size: 16px;
        line-height: 24px;
    }
    .tracking-table__search-input::placeholder {
        font-size: 16px;
        line-height: 24px;
    }
    .tracking-table__results {
        margin: 24px auto 0 0;
    }
    .tracking-table__container {
        margin: 8px 0 0;
    }
    .tracking-table__rows {
        min-height: 38px;
        font-size: 9px;
        line-height: 12px;
    }
    .tracking-table__name {
        min-width: 65px;
        max-width: 65px;
        margin: auto 9px;
    }
    .tracking-table__route {
        min-width: 77px;
        max-width: 77px;
        margin: auto 9px auto 0;
    }
    .tracking-table__departure {
        min-width: 55px;
        max-width: 55px;
        margin: auto 9px auto 0;
    }
    .tracking-table__arrival {
        min-width: 55px;
        max-width: 55px;
        margin: auto 9px auto 0;
    }
    .tracking-table__status {
        min-width: 42px;
    }
    .tracking-table__picture {
        margin: auto 9px auto 9px;
    }
    .tracking-table__name_art-object {
        min-width: 89px;
        max-width: 89px;
        margin: auto 9px;
    }
    .tracking-table__name_exhibits {
        min-width: 48px;
        max-width: 48px;
        margin: auto 9px auto 0;
    }
    .tracking-table__route_exhibits {
        min-width: 52px;
        max-width: 52px;
        margin: auto 9px auto 0;
    }
    .tracking-table__departure_exhibits {
        min-width: 55px;
        margin: auto 9px auto 0;
    }
    .tracking-table__arrival_exhibits {
        min-width: 55px;
        margin: auto 9px auto 0;
    }
}