.fixation-general-information {
    display: flex;
    margin: 32px 0 0;
}
.fixation-general-information__table-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
    border: 1px solid #DFDEDE;
    border-radius: 4px;
    width: 482px;
}
.fixation-general-information__table-row {
    display: flex;
    border-bottom: 1px solid #DFDEDE;
    height: 56px;
    box-sizing: border-box;
}
.fixation-general-information__table-row:last-of-type {
    border-bottom: 0;
}
.fixation-general-information__table-row-text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: auto auto auto 0;
}
.fixation-general-information__table-row-text_heading {
    font-weight: 500;
    min-width: 203px;
    margin: auto 32px;
}
.fixation-general-information__table-row-edit-button {
    background-image: url('../../images/edit-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 23px auto auto;
}
.fixation-general-information__img-container {
    display: flex;
    flex-direction: column;
    margin: 0 62px 0 auto;
}
.fixation-general-information__img {
    background-image: url('../../images/box-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 405px;
}
.fixation-general-information__img-add-button {
    width: 163px;
    height: 46px;
    background: #336699;
    border-radius: 4px;
    border: none;
    margin: 32px auto 0 0;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
}
@media screen and (max-width: 1330px) {
    .fixation-general-information__img-container {
        margin: 0 0 0 auto;
    }
}
@media screen and (max-width: 1265px) {
    .fixation-general-information__table-container {
        width: 429px;
    }
    .fixation-general-information__table-row-text_heading {
        min-width: 150px;
    }
}
@media screen and (max-width: 1210px) {
    .fixation-general-information__table-container {
        width: 400px;
    }
}
@media screen and (max-width: 1180px) {
    .fixation-general-information__table-container {
        width: 360px;
    }
    .fixation-general-information__table-row-text_heading {
        min-width: 130px;
        margin: auto 24px;
    }
}
@media screen and (max-width: 1135px) {
    .fixation-general-information__img {
        width: 330px;
        height: 370px;
    }
    .fixation-general-information__table-row {
        height: 46px;
    }
}
@media screen and (max-width: 1110px) {
    .fixation-general-information__img {
        width: 270px;
        height: 300px;
    }
    .fixation-general-information__table-row {
        height: 40px;
    }
    .fixation-general-information__table-row-text {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 1050px) {
    .fixation-general-information__img {
        width: 250px;
        height: 280px;
    }
}
@media screen and (max-width: 740px) {
    .fixation-general-information {
        display: flex;
        margin: 24px 0 0;
    }
    .fixation-general-information__table-container {
        margin: 0;
        width: 343px;
    }
    .fixation-general-information__table-row {
        height: 42px;
    }
    .fixation-general-information__table-row-text {
        font-size: 12px;
        line-height: 16px;
    }
    .fixation-general-information__table-row-text_heading {
        min-width: 150px;
        margin: auto 16px;
    }
    .fixation-general-information__table-row-edit-button {
        width: 20px;
        height: 20px;
    }
    .fixation-general-information__img-container {
        display: none;
    }
}