.box-registration-qr-code {
    display: flex;
    margin: 32px auto 0 0;
}
.box-registration-qr-code__img {
    background-image: url('../../images/qr-code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 681px;
    height: 360px;
}
@media screen and (max-width: 1075px) {
    .box-registration-qr-code__img {
        width: 570px;
        height: 300px;
    }
}
@media screen and (max-width: 1020px) {
    .box-registration-qr-code__img {
        width: 648px;
        height: 342px;
    }
}