.box-registration-qr-code {
    display: flex;
    margin: 32px auto 0 0;
}
.box-registration-qr-code__img {
    background-image: url('../../images/qr-code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 681px;
    height: 360px;
}