.header {
    display: flex;
    margin: 0;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.header__mobile-container {
    display: none;
    margin: auto auto auto 24px;
}
.header__burger-menu-button {
    background-image: url('../../images/burger-menu-button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 32px auto 0;
    cursor: pointer;
}
.header__mobile-nav-text {
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
    margin: auto auto auto 0;
}
.header__user-container {
    display: flex;
    margin: auto 32px auto auto;
    cursor: pointer;
    position: relative;
}
.header__user-info-container {
    display: flex;
    flex-direction: column;
    margin: auto 16px auto auto;
}
.header__user-name {
    font-weight: 500;
    margin: 0 0 0 auto;
}
.header__user-role {
    margin: 0;
    color: #999999;
}
.header__avatar {
    background-image: url('../../images/avatar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: auto 8px auto 0;
}
.header__arrow {
    background-image: url('../../images/arrow-show-more.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 0;
}
.header__arrow_close {
    background-image: url('../../images/arrow-show-less.svg');
}
.header__user-options-container {
    position: absolute;
    top: 65px;
    right: 0;
    display: none;
    flex-direction: column;
    box-shadow: 0px 3px 4px rgba(177, 184, 197, 0.14), 0px 3px 3px rgba(177, 184, 197, 0.12), 0px 1px 8px rgba(177, 184, 197, 0.2);
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 1;
    cursor: default;
}
.header__user-options-container_active {
    display: flex;
}
.header__user-option-container {
    display: flex;
    width: 220px;
    height: 46px;
    cursor: pointer;
}
.header__user-option-container:hover {
    background: #ECEDF3;
}
.header__user-my-profile-container {
    display: flex;
    width: 220px;
    height: 46px;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}
.header__user-my-profile-container:hover {
    background: #ECEDF3;
}
.header__user-my-profile {
    font-size: 16px;
    line-height: 22px;
    margin: auto auto auto 16px;
}
.header__user-logout-icon {
    background-image: url('../../images/exit-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: auto 8px auto 16px;
}
.header__user-logout {
    font-size: 16px;
    line-height: 22px;
    margin: auto auto auto 0;
}
@media screen and (max-width: 1020px) {
    .header {
        height: 65px;
        background: #336699;
        color: #FFFFFF;
    }
    .header__user-container {
        display: none;
    }
    .header__mobile-container {
        display: flex;
    }
}
@media screen and (max-width: 740px) {
    .header {
        height: 56px;
    }
    .header__mobile-container {
        margin: auto auto auto 16px;
    }
    .header__mobile-nav-text {
        font-size: 18px;
        line-height: 24px;
    }
}