.side-bar {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    position: fixed;
    left: 0;
    top: 0;
}
.side-bar__main-container {
    display: flex;
    flex-direction: column;
    background: #336699;
    width: 264px;
    min-height: 100vh;
}
.side-bar__container {
    display: flex;
    flex-direction: column;
}
.side-bar__logo-container {
    display: flex;
    margin: 28px auto 25px 32px;
    color: #FFFFFF;
    text-decoration: none;
}
.side-bar__logo {
    background-image: url('../../images/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 34px;
    margin: 0 12px 0 0;
}
.side-bar__logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: auto auto auto 0;
    text-transform: uppercase;
}
.side-bar__link-container {
    display: flex;
    margin: 25px auto 0 35px;
    opacity: .7;
    text-decoration: none;
    color: #FFFFFF;
}
.side-bar__link-container_active {
    opacity: 1;
}
.side-bar__link-profile {
    display: none;
    margin: 16px auto 0 16px;
    opacity: .7;
    text-decoration: none;
    color: #FFFFFF;
}
.side-bar__link-profile_active {
    opacity: 1;
}
.side-bar__link-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
}
.side-bar__link-icon_box-registration {
    background-image: url('../../images/box-registration.svg');
}
.side-bar__link-icon_tracking {
    background-image: url('../../images/tracking.svg');
}
.side-bar__link-icon_catalog {
    background-image: url('../../images/catalog.svg');
}
.side-bar__link-icon_users {
    background-image: url('../../images/users.svg');
}
.side-bar__link-icon_fixation {
    background-image: url('../../images/fixation.svg');
}
.side-bar__link-icon_fixation-history {
    background-image: url('../../images/fixation-history.svg');
}
.side-bar__link-icon_logout {
    background-image: url('../../images/exit-icon-white.svg');
}
.side-bar__link-icon_profile {
    background-image: url('../../images/profile-icon.svg');
}
.side-bar__link-text {
    margin: auto auto auto 0;
}
.side-bar__user-container {
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.38);
    padding: 16px;
}
.side-bar__user {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
}
.side-bar__user-avatar {
    background-image: url('../../images/avatar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.side-bar__user-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 8px auto 0 0;
}
.side-bar__user-role {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 4px auto 0 0;
    color: rgba(255, 255, 255, 0.74);
}
.side-bar__close-button {
    background-image: url('../../images/close-button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.side-bar__options-container {
    display: none;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.38);
    margin-top: 16px;
}
.side-bar__option-container {
    display: flex;
    margin: 16px auto 0 16px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
@media screen and (max-width: 1020px) {
    .side-bar {
        display: none;
        right: 0;
        bottom: 0;
        background: rgba(51, 51, 51, 0.6);
        z-index: 2;
    }
    .side-bar_mobile {
        display: flex;
    }
    .side-bar__logo-container {
        display: none;
    }
    .side-bar__user-container {
        display: flex;
    }
    .side-bar__link-container {
        margin: 25px auto 0 16px;
    }
    .side-bar__options-container {
        display: flex;
    }
    .side-bar__link-profile {
        display: flex;
    }
}